# NYC EUI

In [1]:
import pandas as pd
# https://energy.cusp.nyu.edu/#/

nyc_data_path = "https://drive.google.com/uc?id=1Sn4rBiOWyfxrLJCx5YnMosXMRe6wjLSb&export=download"

nyc_data_df = pd.read_csv(nyc_data_path)

nyc_data_df.head()

,the_geom,cartodb_id,the_geom_webmercator,id,bbl,bin,address,zipcode,bldgtype,idflags,...,gfa_cat,age_cat,value_cat,eui_base,eui_diff,wui_base,wui_diff,ghg_base,ghg_diff,fuel_mix
0,NaN,104,NaN,7386333,1.007590e+09,1090378,338 W 36th St,10018,Hotel,0,...,3,1,4.0,176.5,-0.252691,80.72,-0.207631,5.56,-0.192446,"{'Fuel Oil 4': nan, 'Fuel Oil 2': nan, 'Natura..."
1,NaN,175,NaN,6791730,4.150090e+09,4296629,15606 Rockaway Blvd,11434,Hotel,0,...,1,2,1.0,176.8,0.209276,36.48,0.148849,5.88,0.204082,"{'Fuel Oil 4': nan, 'Fuel Oil 2': nan, 'Natura..."
2,NaN,207,NaN,14441087,2.058031e+09,2084227,4415 Post Road,10471,Residence Hall/Dormitory,0,...,0,1,0.0,133.1,-0.021037,31.52,0.078997,5.42,-0.038745,"{'Fuel Oil 4': nan, 'Fuel Oil 2': nan, 'Natura..."
3,NaN,378,NaN,6814275,2.047320e+09,2060475,1215 E. GUN HILL RD,10469,Bowling Alley,0,...,1,2,0.0,142.1,-0.265306,11.01,-0.345141,4.88,-0.268443,"{'Fuel Oil 4': nan, 'Fuel Oil 2': nan, 'Natura..."
4,NaN,603,NaN,6316150,1.002710e+09,1079602,152 Henry Street,10002,Worship Facility,0,...,3,4,1.0,67.9,-0.126657,10.49,-0.891325,2.63,-0.174905,"{'Fuel Oil 4': nan, 'Fuel Oil 2': nan, 'Natura..."

In [2]:
import os
import gdown

def download_file_from_drive(file_url, file_name, output_dir="../../drive_downloaded_files"):
    """
    Downloads a file from Google Drive.

    Parameters:
        file_url (str): The Google Drive URL to download the file from.
        file_name (str): The name to save the downloaded file as.
        output_dir (str): The directory where the downloaded file will be saved. Defaults to "../../drive_downloaded_files".
    """
    # Create the full output path
    output_path = os.path.join(output_dir, file_name)

    # Create the folder if it doesn't exist
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)

    # Download the file if it doesn't exist
    if not os.path.exists(output_path):
        print(f"Downloading the file from {file_url}...")
        gdown.download(file_url, output_path, quiet=False)
    else:
        print(f"The file {output_path} already exists.")

    return output_path  # Return the path of the downloaded file


# Google Drive file URL and name for pluto_24v4_1
drive_url_pluto = "https://drive.google.com/uc?export=download&id=1z6x82N4_AxdInTATbp26lqRnuBNknLRy"
file_name_pluto = "pluto_24v4_1.csv"

# Download the file
pluto_file_path = download_file_from_drive(drive_url_pluto, file_name_pluto)

# Check if the file was downloaded successfully
print(f"File downloaded and saved at: {pluto_file_path}")

The file ../../drive_downloaded_files/pluto_24v4_1.csv already exists.
File downloaded and saved at: ../../drive_downloaded_files/pluto_24v4_1.csv

In [3]:
pluto_df = pd.read_csv(pluto_file_path)
pluto_df = pluto_df[['bbl', 'latitude', 'longitude']]
pluto_df.head()

/var/folders/9m/ym86jvl93wq3tx6ssy8ql7kh0000gn/T/ipykernel_46124/3974290723.py:1: DtypeWarning: Columns (21,22,24,26,28,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  pluto_df = pd.read_csv(pluto_file_path)

            bbl   latitude  longitude
0  3.076040e+09  40.625779 -73.953658
1  3.013040e+09  40.664671 -73.956901
2  3.013040e+09  40.665104 -73.955675
3  3.012940e+09  40.666423 -73.958074
4  3.013020e+09  40.665062 -73.958101

In [4]:
nyc_data_df = nyc_data_df.merge(pluto_df[['bbl', 'latitude', 'longitude']], on='bbl', how='left')

In [5]:
property_type_classification = {
    # Residential
    "Multifamily Housing": "Residential",
    "Single-Family Home": "Residential",
    "Residence Hall/Dormitory": "Residential",
    "Residential Care Facility": "Residential",
    "Senior Living Community": "Residential",

    # Non-Residential
    "Adult Education": "Non-Residential",
    "Ambulatory Surgical Center": "Non-Residential",
    "Automobile Dealership": "Non-Residential",
    "Bank Branch": "Non-Residential",
    "Bar/Nightclub": "Non-Residential",
    "Bowling Alley": "Non-Residential",
    "College/University": "Non-Residential",
    "Convention Center": "Non-Residential",
    "Courthouse": "Non-Residential",
    "Data Center": "Non-Residential",
    "Distribution Center": "Non-Residential",
    "Enclosed Mall": "Non-Residential",
    "Financial Office": "Non-Residential",
    "Fire Station": "Non-Residential",
    "Fitness Center/Health Club/Gym": "Non-Residential",
    "Food Sales": "Non-Residential",
    "Food Service": "Non-Residential",
    "Hospital (General Medical & Surgical)": "Non-Residential",
    "Hotel": "Non-Residential",
    "K-12 School": "Non-Residential",
    "Laboratory": "Non-Residential",
    "Library": "Non-Residential",
    "Lifestyle Center": "Non-Residential",
    "Mailing Center/Post Office": "Non-Residential",
    "Manufacturing/Industrial Plant": "Non-Residential",
    "Medical Office": "Non-Residential",
    "Mixed Use Property": "Non-Residential",
    "Movie Theater": "Non-Residential",
    "Museum": "Non-Residential",
    "Non-Refrigerated Warehouse": "Non-Residential",
    "Office": "Non-Residential",
    "Other": "Non-Residential",
    "Other - Education": "Non-Residential",
    "Other - Entertainment/Public Assembly": "Non-Residential",
    "Other - Lodging/Residential": "Non-Residential",
    "Other - Mall": "Non-Residential",
    "Other - Public Services": "Non-Residential",
    "Other - Recreation": "Non-Residential",
    "Other - Restaurant/Bar": "Non-Residential",
    "Other - Services": "Non-Residential",
    "Other - Specialty Hospital": "Non-Residential",
    "Other - Technology/Science": "Non-Residential",
    "Outpatient Rehabilitation/Physical Therapy": "Non-Residential",
    "Parking": "Non-Residential",
    "Performing Arts": "Non-Residential",
    "Police Station": "Non-Residential",
    "Pre-school/Daycare": "Non-Residential",
    "Prison/Incarceration": "Non-Residential",
    "Refrigerated Warehouse": "Non-Residential",
    "Repair Services (Vehicle, Shoe, Locksmith, etc.)": "Non-Residential",
    "Restaurant": "Non-Residential",
    "Retail Store": "Non-Residential",
    "Self-Storage Facility": "Non-Residential",
    "Social/Meeting Hall": "Non-Residential",
    "Strip Mall": "Non-Residential",
    "Supermarket/Grocery Store": "Non-Residential",
    "Transportation Terminal/Station": "Non-Residential",
    "Urgent Care/Clinic/Other Outpatient": "Non-Residential",
    "Veterinary Office": "Non-Residential",
    "Vocational School": "Non-Residential",
    "Wholesale Club/Supercenter": "Non-Residential",
    "Worship Facility": "Non-Residential"
}

nyc_data_df["Property Type Category"] = nyc_data_df["bldgtype"].map(property_type_classification)

In [6]:
kBtu_to_kWh = 0.2931
ft2_to_m2 = 0.092903

nyc_data_df = nyc_data_df[nyc_data_df["eui"] > 0]

nyc_data_df['EUI (kWh/m2/year)'] = (nyc_data_df['eui']) * kBtu_to_kWh / ft2_to_m2

nyc_data_df["Residential EUI (kWh/m2/year)"] = nyc_data_df.apply(
    lambda x: x["EUI (kWh/m2/year)"] if x["Property Type Category"] == "Residential" else None, axis=1
)

nyc_data_df["Non-residential EUI (kWh/m2/year)"] = nyc_data_df.apply(
    lambda x: x["EUI (kWh/m2/year)"] if x["Property Type Category"] == "Non-Residential" else None, axis=1
)

nyc_data_df["Residential Area (ftÂ²)"] = nyc_data_df.apply(
    lambda x: x["gfa"] if x["Property Type Category"] == "Residential" else None, axis=1
)

nyc_data_df["Non-residential Area (ftÂ²)"] = nyc_data_df.apply(
    lambda x: x["gfa"] if x["Property Type Category"] == "Non-Residential" else None, axis=1
)

In [7]:
nyc_data_df = nyc_data_df[['latitude', 'longitude', 
                           'Residential EUI (kWh/m2/year)', 
                           'Non-residential EUI (kWh/m2/year)',
                           'Residential Area (ftÂ²)', 
                           'Non-residential Area (ftÂ²)']]

In [8]:
nyc_data_df.head()

,latitude,longitude,Residential EUI (kWh/m2/year),Non-residential EUI (kWh/m2/year),Residential Area (ftÂ²),Non-residential Area (ftÂ²)
0,40.753936,-73.994203,NaN,416.131772,NaN,197027.0
1,40.666371,-73.780160,NaN,674.518369,NaN,42550.0
2,40.891676,-73.898529,411.083926,NaN,27800.0,NaN
3,40.873122,-73.852047,NaN,329.371926,NaN,36263.0
4,40.713201,-73.989644,NaN,187.085778,NaN,37565.0

In [9]:
nyc_data_df.to_csv("../data/02_interim/eui_nyc.csv", index=False)